body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(/img/krista-mangulsone-9gz3wfHr65U-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}